---
import MainLayout from "../layouts/MainLayout.astro"
const name ="Luis Alberto Perez";
const currentDate = new Date();
---

<MainLayout title="Home Page">
	<h1>{name}</h1>
	<p>Momento actual: {new Date().toLocaleTimeString('en-US')}</p>
	<p id="current-time">{new Date().toLocaleTimeString()}</p>	
	<script>
		//Client only
		const currentTimeParagraph= document.querySelector('#current-time') as HTMLElement;
		currentTimeParagraph.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
	</script>
</MainLayout>

